@import "@bigbinary/neetoui";
@import "react-toastify/dist/ReactToastify.min.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
  background-color: #f5f5f5;
  position: relative;
}

.cardBackground {
  background-color: #E4E4F8;
}

.activeColor {
  background-color: #2f62ff;
}

.favouriteColor {
  background-color: #f5f5f5;
}

.parentText {
  font-size: 16px;
}

.childText {
  font-size: 12px;
}
